@using WebProject.Theme
@inherits LayoutComponentBase

<MudThemeProvider Theme="@CustomTheme.MyTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .page-body {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    min-height: 180px;
  }
</style>

<div class="page">
  @if (!isLoginPage && !isRegisterPage)
  {
    <div class="sidebar">
      <NavMenu />
    </div>
  }

  <main>
    <article class="page-body">
      @Body
    </article>
    <footer class="footer">
      <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <MudGrid>
          <MudItem xs="4" style="flex: 1; min-width: 200px;">
            <div>
              <span class="text-pink" style="font-weight: bold; font-size: 1.5rem;">Daily</span><span
                style="font-weight: bold; font-size: 1.5rem;">Store</span>
            </div>
            <div style="margin-top: 10px; margin-right: 10px;">
              <p>
                An online convenience store offering a wide range of essential products for families and individuals. We
                aim to make shopping easy and convenient by delivering directly to your doorstep. With a focus on
                reliability and variety, we strive to simplify your shopping experience.
              </p>
            </div>
          </MudItem>



          <MudItem xs="4" style="flex: 1; min-width: 150px; display: flex; flex-direction: column; align-items: center;">
            <h5><strong>Contact</strong></h5>
            <ul style="list-style: none; padding: 0; margin: 10px 0; margin-top: 10px;">
              <li>
                <p>📞 0123456789</p>
              </li>
              <li>
                <p>✉️ dailystore@gmail.com</p>
              </li>
              <li>
                <p>📍 WRF5+8JV, Biên Hòa, Đồng Nai</p>
              </li>
            </ul>
          </MudItem>


          <MudItem xs="4" style="flex: 1; min-width: 210px; text-align: center;">
            <h5><strong>Gallery</strong></h5>
            <div style="margin-top: 5px; display: flex; justify-content: center; flex-wrap: wrap;">
              <img
                src="https://png.pngtree.com/thumb_back/fh260/background/20240409/pngtree-empty-shopping-basket-on-wood-table-over-grocery-store-supermarket-blur-image_15653639.jpg"
                alt="Store image" style="margin: 5px; width: 110px; height: 80px; object-fit: cover;" />
              <img
                src="https://pendecor.vn/uploads/files/2022/04/18/thiet-ke-cua-hang-tien-loi-9.jpg"
                alt="Store image" style="margin: 5px; width: 110px; height: 80px; object-fit: cover;" />
              <img
                src="https://thietkeshop.vn/wp-content/uploads/2024/05/thi-cong-cua-hang-tien-loi.jpg"
                alt="Store image" style="margin: 5px; width: 110px; height: 80px; object-fit: cover;" />
            </div>
          </MudItem>
        </MudGrid>
      </div>
    </footer>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
  private bool isLoginPage;
  private bool isRegisterPage;

  protected override void OnParametersSet()
  {
    isRegisterPage = NavigationManager.Uri.Contains("/Account/Register");
    isLoginPage = NavigationManager.Uri.Contains("/Account/Login");
  }
}