@using WebProject.Theme
@inherits LayoutComponentBase

<MudThemeProvider Theme="@CustomTheme.MyTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @if (!isLoginPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="page-body" style="padding: 5px;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isLoginPage;

    protected override void OnParametersSet()
    {
        isLoginPage = NavigationManager.Uri.Contains("/Account/Login");
    }
}