@media (max-width: 640.98px) {
  .mobile-toggle {
    display: block;
  }

  .mud-navmenu-container {
    display: none;
  }

  .navigation-container.menu-open .mud-navmenu-container {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 3.5rem); /* Adjust the height as needed */
    overflow-y: auto;
  }
}

@media (min-width: 641px) {
  .navigation-container {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    font-weight: bold;
  }

  .mobile-toggle {
    display: none;
  }

  .mud-navmenu-container {
    display: block !important;
    width: 100%;
    max-height: calc(100vh - 3.5rem); /* Adjust the height as needed */
    overflow-y: auto;
  }
}
