@page "/cart"

@using WebProject.Models
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject ItemController ItemController
@using MudBlazor

@rendermode InteractiveServer

<PageTitle>Cart</PageTitle>

<h3>Your Cart</h3>
