@inherits LayoutComponentBase
@layout AccountLayout

<PageTitle>Manage your account</PageTitle>

<MudContainer Class="d-flex align-items-center justify-content-center pt-4">
    <MudPaper Elevation="4" Class="p-3 " Style="width: 80%; max-width: 900px;">
        <div>
            <h2>Change your account settings</h2>
            <MudDivider />
            <MudGrid>
                <MudItem xs="12" md="3">
                    <ManageNavMenu />
                    <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.ExitToApp" OnClick="Logout">
                        Logout
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="9">
                    @Body
                </MudItem>
            </MudGrid>
        </div>
    </MudPaper>
</MudContainer>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task Logout()
    {
        // Implement logout logic here
        NavigationManager.NavigateTo("Account/Logout", forceLoad: true);
    }
}